sentience_takehome/[Ll]ibrary/
sentience_takehome/[Ll]ogs/
sentience_takehome/[Tt]emp/
sentience_takehome/[Oo]bj/
sentience_takehome/[Bb]uilds/
sentience_takehome/[Uu]serSettings/

sentience_takehome/MemoryCaptures/

sentience_takehome/Assets/AssetStoreTools/

sentience_takehome/ServerData/

sentience_takehome/.vs/
sentience_takehome/.idea/
sentience_takehome/*.csproj
sentience_takehome/*.unityproj
sentience_takehome/*.sln
sentience_takehome/*.suo
sentience_takehome/*.tmp
sentience_takehome/*.user
sentience_takehome/*.userprefs
sentience_takehome/*.pidb
sentience_takehome/*.booproj
sentience_takehome/*.svd

sentience_takehome/.DS_Store
sentience_takehome/Thumbs.db

sentience_takehome/*.symbols.json

server/node_modules/
server/dist/
server/.agents/
server/.env
server/npm-debug.log*
server/.DS_Store